:root{
    --background-color: #2b2a33;
    --text-color: #ccc;
}

header{
    background-color: #222;
    padding: 1.5rem;
    border-bottom: 1px solid #fff;
    font-size: 1.05rem;

    display: flex;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
}

.logo-img{
    padding-top: 0.4rem;
    height: 2.5rem;
}

.btn-logo{
    display: none;
}

.menu{
    padding-top: 0.55rem;
}

.btn-menu{
    padding: 0.5rem;
    color: var(--text-color);
    text-decoration: none;
}

.search{
    margin-top: 0.3rem;
    background-color: var(--text-color);;
    height: 2rem;
    align-items: center;
    justify-content: center;
}
.search input{
    outline: 0;
    border: 0;
    padding-left: 1rem;
    background-color: var(--text-color);;
    height: 2rem;
    width: 10rem;
}

.search button{
    padding-right: 1rem;
    background-color: var(--text-color);;
    outline: 0;
    border: 0;
}

.search-img-button{
    height: 1rem;
    padding-top: 0.25rem;
}


@media only screen and (min-width: 700px){
    .btn-logo{
        display: flex;
        color: #ddd;
        text-decoration: none;
        padding-left: .1rem;
        font-size: 1.1rem;
    }
    
    .search input{
        width: 25rem;
    }
}