:root{
    --background-color: #2b2a33;
    --text-color: #ccc;
}


footer{
    border-top: 1px solid #fff;
    background-color: #222;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 2rem;
}

.copyright{
    padding: 1rem;
    align-items: center;
    text-align: center;
}

i{
    font-size: 1.25rem;
}

p{
    color: #ddd;
}

a{
   color: var(--text-color);
   text-decoration: underline;
}